<h3>Welcome to greeting center</h3>

<a routerLink="./" routerLinkActive="active" fragment="english"
    >English greeting</a
>
<a routerLink="./" routerLinkActive="active" fragment="french"
    >French greeting</a
>
<a routerLink="./" routerLinkActive="active" fragment="spanish"
    >Spanish greeting</a
>

<div class="greeting-container" id="english">
    <h3># Greeting in English:</h3>
    <p>Hello World !</p>
</div>
<div class="greeting-container" id="french">
    <h3># Greeting in French:</h3>
    <p>Bonjour tout le monde !</p>
</div>

<div class="greeting-container" id="spanish">
    <h3># Greeting in Spanish:</h3>
    <p>¡ Hola a todos !</p>
</div>
